/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */

.header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

nav {
  align-items: flex-end;
  background-color: white;
  border: solid 3px black;
  border-radius: 50%;
  height: 30px;
  margin-right: 5%;
  padding: 2px;
  width: 30px;
}


.divQuantity {
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

.quantity {
  align-items: center;
  background-color: rgb(204, 164, 61);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 20px;
}

.link {
  color: white;
  font-family: 'Press Start 2P' , cursive;
  text-decoration: none;
}

.link:hover {
  color: rgb(204, 164, 61);
}
